[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djzen = "*"
graphene-django = "*"
dj-database-url = "*"
"psycopg2" = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
django-cors-headers = "*"
requests = "*"
pillow = "*"
clarifai = "*"
django-q = "*"
redis = "*"


[dev-packages]



[requires]

python_version = "3.6"
